@import "./reset.scss";
@import "calendar.scss";
@import "./reservation.scss";
@import "./modal.scss";
@import "./table.scss";
@import "./pos.scss";
@import "./partials.scss";
@import "login.scss";
@import "./registRestaurant.scss";
@import "./userInfo.scss";

body {
  font-family: "Song Myung";

  overflow-x: hidden;
  background-color: #302326;
  color: #d9d9d9;
  header,
  main,
  footer {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
