.modal-content {
  position: absolute;
  left: 0;
  margin-left: 25%;
  width: 50%;
  min-height: 100px;
  background-color: #5c5c5c;
  border-radius: 15px;

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;

  padding: 20px;
  box-sizing: border-box;

  .modal_close {
    float: right;
  }

  @-webkit-keyframes animatetop {
    from {
      top: -500px;
      opacity: 0;
    }
    to {
      top: 140px;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -500px;
      opacity: 0;
    }
    to {
      top: 140px;
      opacity: 1;
    }
  }
}
