.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  .infoComments {
    margin: 25px 0px;
    position: relative;
    .icons {
      position: absolute;
      right: 260px;
      top: 15px;
    }
    .commentValue {
      font-family: "Song Myung";
      width: 400px;
      height: 50px;
      border-radius: 10px;
      background-color: #e2cebd;
      transition: all 0.5s;
      padding: 10px;
    }
    .date {
      position: absolute;
      right: 260px;
      top: 50px;
      color: black;
    }

    .editComment,
    .deleteComment,
    .editCompleted {
      color: rgb(0, 0, 0);
      border: none;
      padding: 10px;
      transition: all 0.5s;
    }
  }

  /* 렛토랑 */
  .restaurantHead {
    clear: both;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
  }
  .btn_delRestaurant,
  .btn_editRestaurant {
    padding: 10px;
    margin: 5px;
  }
  .btn_delRestaurant {
    float: left;
  }
  .btn_editRestaurant {
    float: right;
  }

  .div_form_file {
    position: relative;
    margin-bottom: 50px;
    input[type="file"] {
      position: absolute;
    }
    .userInfoForm_txt {
      position: absolute;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      bottom: 0;
      left: -120px;
      right: 0;
      top: 0;
      width: 180px;
      height: 30px;
      line-height: 30px;
      transition: 0.3s;
    }

    .userInfoForm_img {
      position: absolute;
      right: -100px;
      background: url("/uploads/finder.png") no-repeat 50%;
      background-size: 30px;
      transition: 0.3s;
      padding: 20px;
    }

    .userInfoForm_txt:hover,
    .userInfoForm_txt:hover {
      opacity: 50%;
    }

    .absoluteParent {
      position: relative;
      .absoluteChild {
        position: relative;
        left: 45px;
        top: -35px;
        margin: 5px;
      }
    }
  }
}

/* userInfo__ userInfo */
.div_userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .userInput,
  .btn_delUser {
    font-family: "Song Myung";
    font-size: 16px;
    text-align: center;
    background-color: #e2cebd;
    margin: 5px 0;
    padding: 5px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
  }
}

/* mail */
#parentMail {
  position: absolute;
  font-size: 30px;
  top: -25px;
  right: -30px;
  color: #f7347a;
  border-radius: 100%;

  .absoluteChild {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    color: bisque;
  }
}
.mailHead {
  padding: 10px;
  width: 70%;
  .deleteMail {
    float: right;
    transition: 0.2s;
  }
}

/* reservation */
.reservationHead {
  padding: 10px;
  width: 70%;

  .detailed {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    span {
      padding: 10px;
    }
    .deleteReservation {
      font-family: "Song Myung";
      font-size: 16px;
      background-color: #302326;
      color: #d9d9d9;
      padding: 5px;
      border-radius: 7px;
      transition: 0.3s;
    }
  }
}
