<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- including fontAwesome
        script(src="https://kit.fontawesome.com/e41b5767ec.js" crossorigin="anonymous")
        //- including goole web Fonts
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua")
        link(rel="stylesheet", href="/static/main.css")
        title #{pageTitle}

    header 
        include ./header.pug

    body
        block content

    footer
        include ./footer.pug