mixin modal(id)
    .modal(id=`modal${id}` style="display:none; text-align:center;")
        .modal-content
            button(class="modal_close")
                i(class="fas fa-times")
            if block
                block
            else
                p 에잉~
