extends ../partials/main.pug
include ../partials/modal.pug
include ../mixins/showTable.pug

block content
    li(style="") 운영하고 있는 식당
    .grid_reservations(style="margin:50px")
        each restaurant in user.restaurants
            .restaurants
                a(href=routes.order(restaurant._id))
                    img(src=`/uploads/${restaurant.restaurant_pic}`)
                    p.title #{restaurant.restaurant_name}
                    p #{restaurant.restaurant_tag}