mixin orderForm(menu, i)
    .orderForm(style="clear:both")
        p(style="width:100px") #{menu.name}
        input(type="button" class="btnLeft" value="<" style="font-family: Song Myung") 
            
        //- 이거 ajax로 불러와야함 갯수랑 가격
        p(class=menu.name style="width:20px; text-align:center") 0
        input(type="button" class="btnRight" value=">" style="font-family: Song Myung")
            
        p(style="display:none" class=`price${i}`) #{menu.price}
        p(class="eachSum" style="width:100px; text-align:center") 0
        
    