extends ./partials/main.pug

block content
    a(class='go_reserve' href=routes.reserve)
        i( class='fas fa-pen-square' style="font-size:xx-large ;")
    
    if users.id !== false  
        h1 #{users.email} 님 환영합니다.

        a(href=routes.register)
            h1 가게등록
        
    
    else
        h1 Just Home
    
    
    