extends ./partials/main.pug

block content
    a(class='go_reserve' href=routes.reserve)
        i( class='fas fa-pen-square' style="font-size:xx-large ;")
    
    h1 #{user._id}
    h1 #{user.name}

    
    
    