extends ./partials/main.pug

block content 

    form(method='post' action=routes.login)
        input(type='email' placehold ='e-mail' name='id' required="true")
        input(type='password' name ='password' required="true")
        input(type='submit' value='OK')