extends ../partials/main.pug

block content    
        if users.id !== false 
            a(href=routes.register)
                h1 가게등록
            
            a(href=routes.posHome)
                h1 종업원 모드
    
        else
        .banner
            p "소중한 사람 과 함께하는 식사"
            p "하나뿐인 당신의 시간"
            p 지켜드립니다.
        a(class='go_reserve' href=routes.reserve)
            i(class='fas fa-pen-square fa-8x')
            h1 예약하기
