extends ../partials/main.pug

block content    
        if users.id !== false 
            .loginedHome
                a(href=routes.reserve)
                    .reservationMode
                        p(style={ display:"none"}) 예약하기

                a(href=routes.register)
                    .restaurantMode
                        p(style={ display:"none"}) 식당등록
                
                a(href=routes.posHome)
                    .serverMode
                        p(style={ display:"none"}) 종업원모드





        else
            .go_reserve
                a(href=routes.reserve)
                    .banner

                
