extends ../partials/main.pug

block content
    form(method = "post" action = routes.join)
        input(type="email" name="id" placeholder="이메일" required="true")
        input(type="password" name="password" placeholder="비밀번호" requited="true")
        input(type="text" name="name" placeholder="이름")
        
        label(for="birthday") 생일
        input(type="date" name="birthday")
        
        div
            input(type="radio" id="male" name="radio_form" )
            label(for="male")
            input(type="radio" id="female" name="radio_form")
            label(for="female")

        input(type="submit" value="가입!" style={ margin : "20px 0"})