extends ../partials/main.pug

block content 
    form(method='post' action=routes.login)
        input(type='email' placehold ='e-mail' name='id' required="true")
        input(type='password' name ='password' required="true")
        input(type='submit' value='OK')

    a(href="/oauth2.0/authorize")
        p 네이버로 로그인하기
    a(href="/auth/kakao")
        p 카카오로 로그인하기