extends ../partials/main.pug

block content 
    form(method='post' action=routes.login)
        input(type='email' placeholder ='이메일' name='id' required="true")
        input(type='password' name ='password' placeholder ='비밀번호' required="true")
        input(type='submit' value='로그인' style={margin:"20px 0"})

    