@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.reservationForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .reservationForm .calendar .calendar_header_month {
    display: flex; }
  .reservationForm .calendar .calendar_body td:hover {
    background-color: darkgoldenrod; }

/*  reserve.pug */
.grid_reservations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, auto));
  gap: 40px;
  justify-content: center;
  align-items: center; }
  .grid_reservations a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
    color: #d9d9d9d9; }
    .grid_reservations a img {
      width: 100%;
      height: 300px; }
    .grid_reservations a p.title {
      font-size: 25px;
      padding: 15px; }

.reservationForm {
  display: flex;
  justify-content: space-evenly; }
  .reservationForm .reserveList button {
    float: right;
    padding: 5px;
    margin: 15px; }

.form_search {
  margin: 10px 0px 20px 0px;
  /* reserve화면 search #tag */ }
  .form_search .checkbox {
    transition: 0.3s;
    margin: 10px 0px 0px 0px; }
    .form_search .checkbox .check_input:checked + label {
      background: burlywood;
      transform: scale(1.2);
      transition: 0.3s; }
    .form_search .checkbox span,
    .form_search .checkbox a {
      padding: 5px;
      margin: 10px auto;
      width: 50%;
      text-align: center;
      border-radius: 10px;
      text-decoration: none;
      transition: 0.2s;
      color: #d9d9d9d9; }
    .form_search .checkbox span:hover,
    .form_search .checkbox a:hover {
      background: burlywood; }

/* reserveRestaurant.pug */
.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.restaurantInfo {
  width: 70%;
  margin: 5% auto;
  border: 0px 0px 5px 0px solid #d9d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .restaurantInfo h1 {
    font-size: 50px;
    padding: 10px; }
  .restaurantInfo p {
    font-size: 25px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px; }
  .restaurantInfo a {
    height: 500px;
    width: 400px;
    text-decoration: none;
    color: #d9d9d9d9;
    display: flex;
    transition: all 0.3s; }

.restaurantImg {
  background-size: 400px 500px;
  padding: 5%;
  width: 100%;
  height: 500px;
  border-radius: 10%;
  transition: all 0.3s;
  background-position: center;
  /* Center the image */
  background: no-repeat; }

.restaurantComments {
  width: 70%;
  margin: 5% auto; }
  .restaurantComments p,
  .restaurantComments input,
  .restaurantComments textarea {
    padding: 10px; }
  .restaurantComments textarea {
    font-family: "Song Myung";
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #e2cebd;
    transition: all 0.5s; }
  .restaurantComments textarea:hover {
    background-color: #ffebcd;
    opacity: 0.5; }

.comment {
  margin: 25px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .comment .icons {
    position: absolute;
    right: 28%;
    top: 50px; }
  .comment .commentValue {
    font-family: "Song Myung";
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #e2cebd;
    transition: all 0.5s;
    padding: 10px; }
  .comment .date {
    position: absolute;
    color: #420420;
    right: 28%;
    top: 70px; }
  .comment .editComment,
  .comment .deleteComment,
  .comment .editCompleted {
    color: black;
    border: none;
    padding: 10px;
    transition: all 0.5s; }

.good {
  margin-top: -30px; }
  .good label {
    font-size: 30px; }
    .good label i,
    .good label span {
      padding: 10px; }

.modal-content {
  position: absolute;
  left: 0;
  margin-left: 25%;
  width: 50%;
  min-height: 100px;
  background-color: #5c5c5c;
  border-radius: 15px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 20px;
  box-sizing: border-box; }
  .modal-content .modal_close {
    float: right; }

@-webkit-keyframes animatetop {
  from {
    top: -500px;
    opacity: 0; }
  to {
    top: 140px;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0; }
  to {
    top: 140px;
    opacity: 1; } }

.content_table {
  display: flex;
  justify-content: center; }

.bigTables {
  display: flex; }
  .bigTables .bigTable {
    display: flex;
    flex-wrap: wrap; }
    .bigTables .bigTable .break {
      height: 0; }
    .bigTables .bigTable .table {
      text-align: center;
      border: 1px solid;
      padding: 20px;
      height: 70px;
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }

.miniTables {
  display: flex; }
  .miniTables .miniTable {
    display: flex;
    flex-wrap: wrap; }
  .miniTables .break {
    height: 0; }
  .miniTables .table {
    text-align: center;
    border: 1px solid;
    padding: 20px;
    height: 70px;
    box-sizing: border-box; }

/* pos home */
li {
  font-size: 40px;
  list-style: none;
  transition: 0.5s; }

a:hover {
  transform: rotate(-1deg); }

/* pos menu */
.btnMenu,
.btnOrder,
.btnBill {
  float: right;
  font-family: "Song Myung";
  font-size: 25px;
  background-color: #302326;
  color: #d9d9d9;
  padding: 8px;
  border-radius: 7px;
  transition: 0.3s; }

.register_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .register_menu input {
    font-family: "Song Myung";
    font-size: 16px;
    text-align: center;
    background-color: #e2cebd;
    margin: 5px 0;
    padding: 5px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s; }

/* order */
.orderForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 10px 0px; }
  .orderForm p,
  .orderForm input {
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px; }

/* table */
.content_table {
  margin: 20px; }

.table {
  transition: 3s; }

.btnOrderBill {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px; }

header {
  margin: 50px 0px 0px 0px;
  display: flex;
  justify-content: space-between; }
  header span p {
    font-family: "Song Myung"; }
  header a {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px; }
  header .header_column2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    /* Login Join div */ }
    header .header_column2 div {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      /* 창 줄였을 때 개행막기 */ }
    header .header_column2 a {
      text-decoration: none;
      color: #d9d9d9;
      transition: 0.5s; }
    header .header_column2 a:hover {
      transform: rotate(-10deg); }

main {
  margin: 20px 0px 40px 0px; }

footer {
  font-size: 16px;
  margin: 50px 0px 0px 0px;
  padding: 20px;
  text-align: center;
  line-height: 20px;
  border-top: 1px solid gray; }
  footer p {
    padding: 5px; }

.go_reserve a {
  transition: 0.4s; }

.go_reserve .banner {
  transition: 0.4s;
  width: 100%;
  height: 500px;
  background-image: url("/uploads/home_banner.png");
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.loginedHome {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .loginedHome a {
    transition: 0.4s;
    width: 25%;
    text-decoration: none; }
  .loginedHome .restaurantMode,
  .loginedHome .reservationMode,
  .loginedHome .serverMode {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    filter: blur(8px);
    transition: 0.4s; }
    .loginedHome .restaurantMode p,
    .loginedHome .reservationMode p,
    .loginedHome .serverMode p {
      font-size: 40px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 22%;
      color: #657b9a; }
  .loginedHome .reservationMode {
    background-image: url("/uploads/ReservationMode.png"); }
  .loginedHome .restaurantMode {
    background-image: url("/uploads/RestaurantMode.png"); }
  .loginedHome .serverMode {
    background-image: url("/uploads/ServerMode.png"); }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  form input,
  form .userInput {
    font-family: "Song Myung";
    font-size: 16px;
    text-align: center;
    background-color: #e2cebd;
    margin: 5px 0;
    padding: 5px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s; }
  form label {
    font-family: "Song Myung";
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 5px; }
  form input:hover {
    background-color: #ffebcd;
    opacity: 0.5; }

#male {
  display: none; }

#male + label {
  display: inline-block;
  font-size: 16px; }

#male + label:before {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: -4px 5px 0 0;
  background: url("/uploads/male_unchecked.png") no-repeat 0 0;
  background-size: 50px;
  vertical-align: top;
  content: ""; }

#male:checked + label:before {
  background-image: url("/uploads/male_checked.png");
  /* checked 이미지 적용 */ }

#female {
  display: none; }

#female + label {
  display: inline-block;
  font-size: 16px; }

#female + label:before {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: -4px 5px 0 0;
  background: url("/uploads/female_unchecked.png") no-repeat 0 0;
  background-size: 50px;
  vertical-align: top;
  content: ""; }

#female:checked + label:before {
  background-image: url("/uploads/female_checked.png");
  /* checked 이미지 적용 */ }

/* select custom */
#tags,
#tags1 {
  width: 105px;
  height: 30px;
  background: url("/uploads/select_down.PNG") no-repeat 95% 50% #545454;
  background-size: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 5px;
  padding: 0 30px 0 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s; }

#tags:hover,
#tags1:hover {
  opacity: 70%; }

.div_form_file {
  position: relative;
  margin-bottom: 50px; }
  .div_form_file input[type="file"] {
    position: absolute; }
  .div_form_file #label_text {
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    bottom: 0;
    left: -120px;
    right: 0;
    top: 0;
    width: 180px;
    height: 30px;
    line-height: 30px;
    transition: 0.3s; }
  .div_form_file .form_text {
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 180px;
    height: 30px;
    line-height: 30px;
    transition: 0.3s; }
  .div_form_file #label_img {
    background: url("/uploads/finder.png") no-repeat 50%;
    background-size: 30px;
    transition: 0.3s; }
  .div_form_file .form_img {
    position: absolute;
    right: -100px;
    background: url("/uploads/finder.png") no-repeat 50%;
    background-size: 30px;
    transition: 0.3s;
    padding: 20px; }
  .div_form_file .form_txt:hover,
  .div_form_file #label_text:hover,
  .div_form_file .form_img:hover,
  .div_form_file #label_img:hover {
    opacity: 50%; }

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  /* 렛토랑 */ }
  .info .infoComments {
    margin: 25px 0px;
    position: relative; }
    .info .infoComments .icons {
      position: absolute;
      right: 410px;
      top: 15px; }
    .info .infoComments .commentValue {
      font-family: "Song Myung";
      width: 400px;
      height: 50px;
      border-radius: 10px;
      background-color: #e2cebd;
      transition: all 0.5s;
      padding: 10px; }
    .info .infoComments .date {
      position: absolute;
      right: 420px; }
    .info .infoComments .editComment,
    .info .infoComments .deleteComment,
    .info .infoComments .editCompleted {
      color: black;
      border: none;
      padding: 10px;
      transition: all 0.5s; }
  .info .btn_delRestaurant,
  .info .btn_editRestaurant {
    padding: 10px;
    margin: 5px; }
  .info .btn_delRestaurant {
    float: left; }
  .info .btn_editRestaurant {
    float: right; }
  .info .div_form_file {
    position: relative;
    margin-bottom: 50px; }
    .info .div_form_file input[type="file"] {
      position: absolute; }
    .info .div_form_file .userInfoForm_txt {
      position: absolute;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      bottom: 0;
      left: -120px;
      right: 0;
      top: 0;
      width: 180px;
      height: 30px;
      line-height: 30px;
      transition: 0.3s; }
    .info .div_form_file .userInfoForm_img {
      position: absolute;
      right: -100px;
      background: url("/uploads/finder.png") no-repeat 50%;
      background-size: 30px;
      transition: 0.3s;
      padding: 20px; }
    .info .div_form_file .userInfoForm_txt:hover,
    .info .div_form_file .userInfoForm_txt:hover {
      opacity: 50%; }
    .info .div_form_file .absoluteParent {
      position: relative; }
      .info .div_form_file .absoluteParent .absoluteChild {
        position: relative;
        left: 45px;
        top: -35px;
        margin: 5px; }

/* userInfo__ userInfo */
.div_userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .div_userInfo .userInput,
  .div_userInfo .btn_delUser {
    font-family: "Song Myung";
    font-size: 16px;
    text-align: center;
    background-color: #e2cebd;
    margin: 5px 0;
    padding: 5px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s; }

/* mail */
#parentMail {
  position: absolute;
  font-size: 30px;
  top: 120px;
  right: 385px;
  color: #f7347a;
  border-radius: 100%; }
  #parentMail .absoluteChild {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    color: bisque; }

.mailHead {
  padding: 10px;
  width: 70%; }
  .mailHead .deleteMail {
    float: right;
    transition: 0.2s; }

/* reservation */
.reservationHead {
  padding: 10px;
  width: 70%; }
  .reservationHead .detailed {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center; }
    .reservationHead .detailed span {
      padding: 10px; }
    .reservationHead .detailed .deleteReservation {
      font-family: "Song Myung";
      font-size: 16px;
      background-color: #302326;
      color: #d9d9d9;
      padding: 5px;
      border-radius: 7px;
      transition: 0.3s; }

body {
  font-family: "Song Myung";
  overflow-x: hidden;
  background-color: #302326;
  color: #d9d9d9; }
  body header,
  body main,
  body footer {
    width: 70%;
    margin-right: auto;
    margin-left: auto; }
